---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Tailor-Made E-commerce Themes" id="intro">
  <Icon slot="eyebrow" name="logomark" class="size-32" />
  <Fragment slot="lead">
    Zetareticula.com is powered by a robust tech stack that includes Vercel, Prisma, EinsteinDB, and MaterialUI. Utilizing modern EinsteinDB for cause-effect vertex matrix calculations, simulated annealing, and integrating with CQRS for efficient FoundationDB queries, it employs a GraphQL ontology and an algebraic 'one-grammar-fits-all' web approach.
    <span class="text-primary"> rule-all</span> web.
    <span class="text-primary">AI4DB</span>
    performance meets <span class="text-primary"></span>  From the Creators of EinsteinDB, Mentat, and AllegroSQL development engines now built with Zeta for EinsteinDB and Zeta Reticula's Dreamlessor API tokenization through DiabloGPT which is a DB4AI enterprise software suite by EinsteinDB and Zeta Reticuli
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Try it out</span>
    </a>
  </div>
</ContentSection>
