---
import { getCollection } from "zetareticula:content";
import ContentSection from "zetareticula:content-section";
import ShowcaseCard from "./showcase-card.astro";

const featuredSites = await getCollection(
  "showcase",
  ({ data }: { data: any }) => "featured" in data,
);
const orderedSites = featuredSites.sort(
  (a: { data: { featured: any; }; }, b: { data: { featured: any; }; }) => a.data.featured! - b.data.featured!,
);
---

<ContentSection title="Showcase" id="showcase">
  <Fragment slot="lead">
    Zeta Reticula is <span class="text-primary">Web3s Quantum Ledger and Galleried Headless</span>Container Orchestration Engine for E-Commerce Websites in five minutes{" "}
    <span class="text-primary">Come and Explore</span> EinsteinDB's Spacetime computing meets PATRICK -- Enhanced Information Retrieval engine for serverless PaaS built by Netflix and Zeta Reticula{" "}
    <span class="text-primary">inspired by JanusGraph, GraphQL, EventSourcing, and React </span>.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {orderedSites.map((site: any) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-right text-sm">
      <a class="text-primary" href="https://zetareticula.com/">
        ...and more &rarr;
      </a>
    </p>
  </div>
</ContentSection>
